<p id="notice"><%= notice %></p>

<h1>Sensor Readings</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Motion</th>
      <th>Infrared</th>
      <th>Light</th>
      <th>Temperature</th>
    </tr>
  </thead>

  <tbody>
    <% @sensor_readings.each do |sensor_reading| %>
      <tr>
        <td><%= sensor_reading.motion %></td>
        <td><%= sensor_reading.infrared %></td>
        <td><%= sensor_reading.light %></td>
        <td><%= sensor_reading.temperature %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
