<p id="notice"><%= notice %></p>

<h1>Sensor Readings</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Motion</th>
      <th>Infrared</th>
      <th>Light</th>
      <th>Temperature</th>
      <th>Air Con</th>
      <th>Lights</th>
    </tr>
  </thead>

  <tbody>
    <% @sensor_readings.each do |sensor_reading| %>
      <tr>
        <td><%= sensor_reading.motion %></td>
        <td><%= sensor_reading.infrared %></td>
        <td><%= sensor_reading.light %></td>
        <td><%= sensor_reading.temperature %></td>
        <% if sensor_reading.temperature >= 24 && (sensor_reading.motion == true || sensor_reading.infrared == true) %>
        <td><span class="badge badge-default">AC is ON</span></td>
        <% else %>
        <td><span class="badge badge-default">AC is OFF</span></td>
        <% end %>
        <% if sensor_reading.temperature >= 24 && (sensor_reading.motion == true || sensor_reading.infrared == true) %>
        <td><span class="badge badge-default">Light is ON</span></td>
        <% else %>
        <td><span class="badge badge-default">Light is OFF</span></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
